*
!*/
!.gitignore
!alacritty/**
!applications/**
!ashell/**
!chromium-flags.conf
!config.kdl
!environment.d/**
!curd/**
!DankMaterialShell/**
DankMaterialShell/plugins/**
!dolphinrc
!electron-flags.conf
!etc/**
!gtk-*/**
!hypr/**
!kdeglobals
!kiorc
!kitty/**
!ktrashrc
!legionaura/**
!mako/**
!mimeapps.lst
!mpv/**
!nwg-look/**
!packages/**
!post-install
!rofi/**
!services.lst
!scratchpad
!stremio-enchanced-flags.conf
!stremio-enhanced/plugins/**
!stremio-enhanced/themes/**
!swappy/**
!xdg-desktop-portal/**