*
!*/
!.gitignore
!hypr/**
!kitty/**
!ashell/**
!dolphinrc
!swappy/**
!packages.lst
!kdeglobals
!curd/**
!mpv/**
!xdg-desktop-portal/**
!chromium-flags.conf
!electron-flags.conf
!mimeapps.lst
!mako/**
!nwg-look/**
!gtk-*/**
!tlp.conf
!fstab
!ktrashrc
!services.lst
!applications/**