*
!*/
!.gitignore
!hypr/**
!kitty/**
!ashell/**
!dolphinrc
!fuzzel/**
!swappy/**
!packages.lst
!kdeglobals
!curd/**
!mpv/**
!xdg-desktop-portal/**
!chromium-flags.conf
!electron-flags.conf
!mimeapps.lst