[Desktop Entry]
Name=Curd|Anime
Comment=Run my custom command
Exec=bash -c "warp-cli mode doh && curd -rofi; warp-cli mode warp"
Icon=mpv
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;
