/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #004e5e !important;
  --toolbarbutton-icon-fill: #85d1e8 !important;
  --toolbar-field-color: #dee3e6 !important;
  --tab-selected-textcolor: #85d1e8 !important;
  --toolbar-color: #dee3e6 !important;
  --arrowpanel-color: #dee3e6 !important;
  --arrowpanel-background: #1b2022 !important;
  --sidebar-text-color: #dee3e6 !important;
  --zen-main-browser-background: #0f1416 !important;
  --zen-main-browser-background-toolbar: #0f1416 !important;
}

#zen-browser-background {
  --zen-main-browser-background: #0f1416 !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #0f1416 !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #1b2022 !important;
}

#zen-workspaces-button {
  background-color: #1b2022 !important;
}

#TabsToolbar {
  background-color: #0f1416 !important;
}

.urlbar-background {
  background-color: #1b2022 !important;
}

.urlbar-input::selection {
  color: #003641 !important;
  background-color: #85d1e8 !important;
}

.urlbarView-url {
  color: #bfc8cb !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #85d1e8
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #a2e9ff !important;
  --identity-icon-color: #a2e9ff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #85d1e8 !important;
  --identity-icon-color: #85d1e8 !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffaf !important;
  --identity-icon-color: #a5ffaf !important;
}

.identity-color-yellow {
  --identity-tab-color: #fff9a5 !important;
  --identity-icon-color: #fff9a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #fff572 !important;
  --identity-icon-color: #fff572 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fbf !important;
  --identity-icon-color: #ff9fbf !important;
}

.identity-color-pink {
  --identity-tab-color: #b2edff !important;
  --identity-icon-color: #b2edff !important;
}

.identity-color-purple {
  --identity-tab-color: #17576b !important;
  --identity-icon-color: #17576b !important;
}

#zen-appcontent-navbar-container {
  background-color: #0f1416 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #85d1e8 !important;
  color: #85d1e8 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #85d1e8 !important;
  color: #85d1e8 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #85d1e8 !important;
}
